{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
  <div class="container pt-5">
    <p>
      <a href="{{ path('products_list') }}" class="btn btn-secondary">
        Retour aux produits
      </a>
    </p>
    {% if product.promo %}
      {{ include('product/product_promo.html.twig') }}
    {% endif %}
    <h1>{{ product.name }}</h1>
    <p>
      <img src="{{ product.image }}" alt="{{ product.name }}" class="img-fluid" />
    </p>
    <h2>
      {{ product.priceHT|number_format(2, ',') }} €
    </h2>
    <p>
      {{ product.description }}
    </p>
  </div>
{% endblock %}